.title {
  margin-top: 10px;
  text-align: center;
}

.side-by-side{
  display: inline-block;
}

.margin-right{
  margin-right: 20px;
}

.roundedBox {
  float: left;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.settings {
 
}

.smallWidth{
  width: 185px;
}

.credit {
  width: 270px;
}

.cashFlow {
  width: 285px;
}

.rents {
  width: 250px;
}

.results {
  float: left;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.results th {
  position: sticky;
  top: 0;
  background-color: rgb(205, 207, 211) !important;
}

.results .text {
  margin-bottom: 20px;
}

.input-group-text {
  width: 38px;
}

.labelSpacing {
  padding-top: 5px;
}

